'--enable-generic-code' '--with-max-am=6' '--with-opt-am=3' '--enable-eri3=0' '--enable-eri2=0' '--enable-eri3-pure-sh' '--enable-eri2-pure-sh' '--enable-fma' '--disable-1body-property-derivs' '--with-multipole-max-order=2' 'CXX=clang++' 'CXXFLAGS=-std=c++11 -march=native -O1' 'LDFLAGS=-L/usr/local/lib' 'CPPFLAGS=-I/Users/evaleev/Development/boost/install/include -I/usr/local/include/eigen3 -I/usr/local/include'
